.banner div p {
  margin: 0;
  border: 1px solid grey;
  border-bottom: none;
  padding: 15px;
}

.profile {
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-left: 15%;
  margin-top: 70px;
  display: grid;
  width: 70vw;
}

.banner div {
  border-bottom: 1px solid  grey;
}
